/**
 * Grid Cell Block Editor Styles
 * 
 * Styles specific to the block editor interface
 */

.dswp-grid-cell {
	min-height: 100px;
	padding: 1rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	transition: border-color 0.2s ease;

	&:hover {
		border-color: #0073aa;
	}

	&__content {
		min-height: 50px;
	}
}


